<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmazingAmazon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>627B67C31C34B6790078C213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>627B67D71C34B6790078C213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>627B67E21C34B6790078C213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
